
    <div class="dashboard-stat red-intense">
        <div class="visual">
            <i class="fa fa-bar-chart-o"></i>
        </div>
        <div class="details">
            <div class="number">
                @ViewBag.solde
            </div>
            <div class="desc">
                Solde
            </div>
        </div>
        <a class="more" href="javascript:;">
            &nbsp; <i class="m-icon-swapright m-icon-white"></i>
        </a>
    </div>
