
   <div class="dashboard-stat green-haze">
    <div class="visual">
        <i class="fa fa-shopping-cart"></i>
    </div>
    <div class="details">
        <div class="number">
            @ViewBag.benefice
        </div>
        <div class="desc">
            Benefice
        </div>
    </div>
    <a class="more" href="javascript:;">
        &nbsp; <i class="m-icon-swapright m-icon-white"></i>
    </a>
</div>
