
   <div class="dashboard-stat purple-plum">
    <div class="visual">
        <i class="fa fa-shopping-cart"></i>
    </div>
    <div class="details">
        <div class="number">
            @ViewBag.lstadmin.Count

            
        </div>
        <div class="desc">
            Administrateurs
        </div>
    </div>
      
        <a class="more" href="javascript:;">
           &nbsp;<i class="m-icon-swapright m-icon-white"></i>
        </a>
      
    
       
</div>
