@model eTransfert.Models.RechargeCptePrincTrace

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}




<div class="page-content-wrapper">
    <div class="page-content">
        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        Widget settings form goes here
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn blue">Save changes</button>
                        <button type="button" class="btn default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <!-- BEGIN STYLE CUSTOMIZER -->
        
        <!-- END STYLE CUSTOMIZER -->
        <!-- BEGIN PAGE HEADER-->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="/Home/">Accueil</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
            </ul>
            <div class="page-toolbar">
                <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm btn-default" data-container="body" data-placement="bottom" data-original-title="Change dashboard date range">
                    <i class="icon-calendar"></i>&nbsp; <span class="thin uppercase visible-lg-inline-block"></span>&nbsp; <i class="fa fa-angle-down"></i>
                </div>
            </div>
        </div>
        <h3 class="page-title">
            Dashboard <small>rapports & statistiques</small>
        </h3>
        <!-- END PAGE HEADER-->
        <!-- BEGIN DASHBOARD STATS -->
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="dashboard-stat blue-madison">
                    <div class="visual">
                        <i class="fa fa-comments"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            @ViewBag.total
                        </div>
                        <div class="desc">
                            Utilisateurs
                        </div>
                    </div>
                    <a class="more" href="javascript:;">
                        &nbsp; <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="dashboard-stat red-intense">
                    <div class="visual">
                        <i class="fa fa-bar-chart-o"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            12,5M$
                        </div>
                        <div class="desc">
                            Total Profit
                        </div>
                    </div>
                    <a class="more" href="javascript:;">
                        View more <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="dashboard-stat green-haze">
                    <div class="visual">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            549
                        </div>
                        <div class="desc">
                            New Orders
                        </div>
                    </div>
                    <a class="more" href="javascript:;">
                        View more <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            
        </div>
        <!-- END DASHBOARD STATS -->
        <div class="clearfix">
        </div>

        <div class="clearfix">
        </div>

      
        <div class="row">


            <div class="col-md-offset-2">
               

                <form asp-action="Edit">
                    <div class="form-horizontal">
                        <h4>RechargeCptePrincTrace</h4>
                        <hr />
                        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="Benef" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Benef" class="form-control" />
                                <span asp-validation-for="Benef" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="DateTransaction" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="DateTransaction" class="form-control" />
                                <span asp-validation-for="DateTransaction" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Etat" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Etat" class="form-control" />
                                <span asp-validation-for="Etat" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Montant" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Montant" class="form-control" />
                                <span asp-validation-for="Montant" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="useremail" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="useremail" class="form-control" />
                                <span asp-validation-for="useremail" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </form>

                <div style="font-size:large;">
                    <a asp-action="Index">Revenir &agrave; la Liste</a>
                </div>

            </div>











        </div>


        @section Scripts {
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
            <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        }



    </div>
</div>







