@model ForgotPasswordViewModel
@using System.Collections.Generic
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Authentication
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewBag.Title = "Mot de passe oublié";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - eTransfert</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="" name="description">
    <meta content="ITI" name="author">

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet" type="text/css" />
    <link href="/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="/admin/pages/css/login.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME STYLES -->
    <link href="/css/components-rounded.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="/css//plugins.css" rel="stylesheet" type="text/css" />
    <link href="/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="/admin/layout/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
    <link href="/css/animate.css" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />

</head>
<!-- BEGIN BODY -->
<body class="login">
    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    <div class="menu-toggler sidebar-toggler">
    </div>
    <!-- END SIDEBAR TOGGLER BUTTON -->
    <!-- BEGIN LOGO -->
    <div class="logo">
        <a href="/Index">
            <img src="~/img/logo-small.png" alt="logo" class="logo-default animated infinite" style="animation-duration: 8s; animation-name: flipOutY;" />

        </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN FORGOT PASSWORD FORM -->
        <form class="login-form" asp-controller="Account" asp-action="ForgotPassword" method="post" role="form">
            <h3 class="animated rotateInUpLeft">Mot de passe oublié ?</h3>
            <hr />
            <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
            <p>
                Entrez votre adresse email pour reinitialiser votre mot de passe.
            </p>

            <div class="form-group">
                <input asp-for="Email" class="form-control placeholder-no-fix" autocomplete="off" placeholder="Entrer Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-actions">
                <a  asp-controller="Account" asp-action="Login" class="btn btn-default">Retour</a>
                <button type="submit" class="btn btn-success uppercase pull-right">Valider</button>
            </div>
        </form>
        <!-- END FORGOT PASSWORD FORM -->
    </div>
    <div class="copyright">
        2015 © eTransfert. 
    </div>
    <!-- END LOGIN -->
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
    <script src="/plugins/respond.min.js"></script>
    <script src="/plugins/excanvas.min.js"></script>
    <![endif]-->
    <script src="/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="/scripts/metronic.js" type="text/javascript"></script>
    <script src="/admin/layout/scripts/layout.js" type="text/javascript"></script>
    <script src="/admin/layout/scripts/demo.js" type="text/javascript"></script>
    <script src="/admin/pages/scripts/login.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            Login.init();
            Demo.init();
        });
    </script>
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>

