@{
    ViewBag.Title = "Confirmation";
    Layout = "_LayoutG";
}

<!-- BEGIN PAGE HEAD -->
<div class="page-head">
    <div class="container">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>Confirmation de changement de mot de passe</h1>
        </div>
        <!-- END PAGE TITLE -->
        <!-- BEGIN PAGE TOOLBAR -->
        <div class="page-toolbar">
        </div>
        <!-- END PAGE TOOLBAR -->
    </div>
</div>
<!-- END PAGE HEAD -->
<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
    <div class="container">
        <!-- BEGIN PAGE BREADCRUMB -->
        @*<ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="#">@ViewBag.Title.</a><i class="fa fa-circle"></i>
            </li>
            <li class="active">
                @ViewBag.Title.
            </li>
        </ul>*@
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE CONTENT INNER -->
        <div class="row">

            <p>
                Veuillez vérifier votre boite aux lettres. Nous vous avons envoyé un mail.
            </p>
        </div>
        <!-- END PAGE CONTENT INNER -->

    </div>
</div>
<!-- END PAGE CONTENT -->

